<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css'/>
</head>
<body>
<h1 class="text-center"><%= title %></h1>
<main class="grid-x">
    <section id="formulaire" class="cell medium-4">
        <form id="form" method="post" action="/">
            <div class="grid-x">
              <button class="button cell medium-4" type="submit" name="cosine">cosine</button>
              <button class="button cell medium-4" type="submit" name="pathlength">path length</button>
              <button class="button cell medium-4" type="submit" name="semantic">semantic content</button>
            </div>
            <p class="text-center">
                <small>Click on items to expand</small>
            </p>
        </form>
    </section>
    <section id="results" class="cell medium-8">
        <table>
            <thead>
            <tr>
                <th>Document</th>
                <th><%= nom %></th>
            </tr>
            </thead>
            <tbody>
            <% if (typeof searchResult !== 'undefined') { %>
                <% for(var i = 0; i < searchResult.length; i++) { %>
                    <tr>
                        <td><%= searchResult[i][0].replace(/_/g," ") %></td>
                        <td><%= searchResult[i][1] %></td>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
        </table>
    </section>
</main>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/javascripts/d3.js"></script>
<script src="/javascripts/vendor/jquery.js"></script>
<script src="/javascripts/vendor/what-input.js"></script>
<script src="/javascripts/vendor/foundation.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>
